/include/ "system-conf.dtsi"
/ {
};

&microzed_fmc_led_controller_0 {
        compatible = "generic-uio";
};

&amacv2_dummy_testbench_0 {
        compatible = "generic-uio";
};

&endeavour_fmc_led_controller_0 {
        compatible = "generic-uio";
};

&freq_meas_0 {
        compatible = "generic-uio";
};


&axi_quad_spi_0 {
        spidev@0 {
                compatible = "linux,spidev";
                spi-max-frequency = <100000>;
                reg = <0>;
        };
        spidev@1 {
                compatible = "linux,spidev";
                spi-max-frequency = <100000>;
                reg = <1>;
        };
        spidev@2 {
                compatible = "linux,spidev";
                spi-max-frequency = <100000>;
                reg = <2>;
        };
        spidev@3 {
                compatible = "linux,spidev";
                spi-max-frequency = <100000>;
                reg = <3>;
        };
        spidev@4 {
                compatible = "linux,spidev";
                spi-max-frequency = <100000>;
                reg = <4>;
        };
        spidev@5 {
                compatible = "linux,spidev";
                spi-max-frequency = <100000>;
                reg = <5>;
        };
        spidev@6 {
                compatible = "linux,spidev";
                spi-max-frequency = <100000>;
                reg = <6>;
        };
        spidev@7 {
                compatible = "linux,spidev";
                spi-max-frequency = <100000>;
                reg = <7>;
        };
} ;
